.search_result_box {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-top: 10px;
  border: #cdcdcd medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
  overflow-y: scroll;
  background-color: #f7cea5;
}

.button_box {
  width: auto;
  height: auto;
  margin: 10px;
  border: #cdcdcd medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.function_box {
  width: auto;
  height: auto;
  margin: 10px;
  float: right;
  border: #cdcdcd medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
